* {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.App {
	display: block;
	width: 800px;
	margin: 0 auto;
}

.table-box {
	display: block;
	margin: 0 auto 40px;
}

.table-box table td, .table-box table th {
	padding: 10px 20px;
}

input, button {
	padding: 6px 10px;
	margin: 0 5px 0 0;
	border: 1px solid #ccc;
  border-radius: 4px;
}

.ip-form {
	margin: 0 0 20px;
}

thead tr {
	background-color: #ccc;
}

.table-box table tr:nth-child(even) {
	background-color: #eee;
}

.login-form input {
	width: 280px;
}

.login-form button {
	width: 303px;
}

.login-form input, .login-form button {
	display: block;
	margin: 0 auto 10px;
}

.login-form {
	display: block;
	margin: 50px auto 0;
	width: 300px;
	text-align: center;
}

input:focus, input:focus-visible {
	border: 1px solid #aaa;
}

.table-box table {
	width: 100%;
}